@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: hidden; 
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  font-family: "Orbitron";
  padding: 0px 3rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}